<!DOCTYPE html>
<html>
  <head>
    <title>CAESAR CIPHER</title>
    <link type="text/css" rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
  </head>
    <body>
      <div id="title"> Caesar Cipher </div>
      <div id="image"> <img src="/images/caesar.png"> </div>
        <div>
          <p>
            Caesar Cipher, also known as a shift cipher is one
            of the simplest forms of encryption.  It is a substitution
            cipher where each letter in the original message
            (called the plaintext) is replaced with a letter
            corresponding to a certain number of letters up or
            down in the alphabet.
          </p>
        </div>
        <div>
          <form>
            <div><strong> Enter phrase or word to encode</strong></div>
              <div> <input type='text' name='phrase' /> </div>
            <div><strong> Enter a number to shift your code by</strong></div>
              <div> <input type='number' name='shift_factor' /> </div>
              <div> <input type='submit' value='Submit' </div>
              <div>
                 <strong><%= encrypted %></strong>
              </div>
          </form>
        </div>
    </body>
</html>
